biller-scroll {
  .outer{
    margin:auto;background:#fff;margin-left:0.27vh;margin-top:0.27vh;padding:0.2vh;padding-top:1.3vh;

  }
  .inner{
  display:flex;margin:auto;height:7vh;width:7vh;
  }
  .outerr{margin-left:0.25vh;padding:0.1vh;}
}
