<ion-header class="toolbar-panel">
    <div class="toolbar" style="height: 50px;" padding>
        <img src="assets/img/back.png" navPop class="backbutton" />
        <p style="font-size:16px;color:#fff"> Register </p>
        <span class="icons">
      <div class="notification" (click)="goHome()">
        <img src="assets/img/view_more.png" />
      </div>
    </span>
    </div>

</ion-header>
<ion-content class="main" padding>

    <ion-list>
        <form [formGroup]="data" (ngSubmit)="reg()">

            <div> <a> Card Details</a> </div>
            <ion-row>
                <ion-col col-6>

                    <ion-input type="text" formControlName="firstName" [class.invalid]="!data.controls.firstName.valid && data.controls.firstName.touched" placeholder="{{lang.firstName}}"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.firstName.valid && data.controls.firstName.touched"> {{lang.firstName_valid}} </ion-label>
                </ion-col>
                <ion-col col-6>
                    <ion-input type="text" formControlName="lastName" [class.invalid]="!data.controls.lastName.valid && data.controls.lastName.touched" placeholder="{{lang.lastName}}"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.lastName.valid && data.controls.lastName.touched"> {{lang.lastName_valid}} </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input type="tel" formControlName="number" maxlength="19" [(ngModel)]="card_number" [class.invalid]="!data.controls.number.valid && data.controls.number.touched" placeholder="{{lang.number}}"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.number.valid && data.controls.number.touched"> {{lang.number_valid}} </ion-label>

                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-input type="tel" formControlName="expiry" placeholder="expiry MMYYYY"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.expiry.valid && data.controls.expiry.touched"> {{lang.expiry_valid}} </ion-label>
                </ion-col>
                <ion-col col-6>
                    <ion-input type="tel" formControlName="cvc" placeholder="CVV/CVC"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.cvc.valid && data.controls.cvc.touched"> {{lang.cvc_valid}} </ion-label>
                </ion-col>
            </ion-row>

            <hr>
            <br>

            <div> <a> Billing Address</a> </div>
            <ion-row>
                <ion-col>
                    <ion-input disabled="true" formControlName="country" (click)="searchCountry()" placeholder="{{ lang.country}}"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input type="text" formControlName="email" placeholder="{{ lang.email}}"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.email.valid && data.controls.email.touched"> {{lang.email_valid}} </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input type="text" formControlName="administrativeArea" placeholder="{{ lang.administrativeArea}}"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.administrativeArea.valid && data.controls.administrativeArea.touched"> {{lang.administrativeArea_valid}} </ion-label>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-input type="text" formControlName="address1" placeholder="{{ lang.address1}}"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.address1.valid && data.controls.address1.touched"> {{lang.address1_valid}} </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input type="text" formControlName="address2" placeholder="{{ lang.address2}}"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.address2.valid && data.controls.address2.touched"> {{lang.address2_valid}} </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input type="text" formControlName="locality" placeholder="{{ lang.city}}"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.locality.valid && data.controls.locality.touched"> {{lang.city_valid}} </ion-label>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-input type="tel" formControlName="postalCode" placeholder="{{ lang.postal_code}}"></ion-input>
                    <ion-label stacked color="danger" *ngIf="!data.controls.postalCode.valid && data.controls.postalCode.touched"> {{lang.postal_code_valid}} </ion-label>
                </ion-col>
            </ion-row>

            <br><br>
            <div>
                <button class="submit-button" type="submit" [disabled]="!data.valid" ion-button block> {{ lang.add_card}} </button>
            </div>
        </form>
    </ion-list>
</ion-content>