page-signup {
  .ion-item-input{
    background: transparent;
  //  color: #260b3f;
    //text-align:center;

}

.terms_and_conditions{
 text-align:center;
 font-size:0.8em;
  a {
    color:#ed3063;

  }
  a:hover {
    color: #D6D6D6;
   }

}

}
