page-otp{

	.ion-item-input {
		background: transparent;
		color: rgb(26,31,113);
    text-align: center;
	}


	.put {
//-webkit-text-security: disc;
//   text-align: center;
// font:big-caption;
// font-size:30px;
// border: 2px solid rgb(26,31,113);
//    border-radius: 4px;
//    background: #fff;
//    color: #000;
//    text-shadow: 0 0 0 rgb(26,31,113);
//   text-align: center;
//    &:focus {
//        outline: none;
//    }
 }
}
