<ion-content class="{{cssclass}} main" padding>
  <div *ngIf="cssclass!='statements'">
    <br><br><br>
    <!-- <img src="assets/svg/receipt/{{cssclass}}.svg" /> -->
  </div>
  <br>
  <p class="title1" *ngIf="cssclass=='wait'">PROCESSING</p>
  <p class="title1 " *ngIf="cssclass=='success'">SUCCESSFUL</p>
  <p class="title1 " *ngIf="cssclass=='error'">FAILED</p>
  <p class="title1 " *ngIf="cssclass=='statements'">RECEIPT</p>


  <div>
    <ion-card color="trans" padding>
      <ion-row>
        <ion-col>
          <p class="title2" padding>{{statements}} </p>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>

  <div padding>
    <button class="submit-button" ion-button (click)="goNext()" block>Done</button>
  </div>

</ion-content>
